body {
  background-color: rgb(25, 37, 10);
  margin: 24px 24px;
}

body, p, h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  color: rgb(25, 37, 10);
  margin: 0;
}

h1 {
    color: rgb(25, 37, 10);
    font-size: 32px;
    margin-bottom: 12px;
}

.name {
  margin-bottom: 4px;
}

h2 {
    color: rgb(50, 71, 23);
    font-size: 24px;
    margin-bottom: 8px;
}

h3 {
    color: rgb(25, 37, 10);
    font-size: 16px;
    margin-bottom: 4px;
}

p {
    color: rgb(50, 71, 23);
    font-size: 16px;
    text-align: justify;
}

li {
    color: rgb(25, 37, 10);
    font-size: 16px;
}

button {
    border-radius: 24px; 
    margin: 8px 0;
    padding: 6px 12px;
    font-family: "Roboto Condensed", sans-serif;
    transition: background 0.3s ease;
    cursor: pointer;
}

button:hover {
  scale: 1.05;
}

button:disabled {
  cursor: not-allowed;
}

.primary-button {
    border: none;
    background-color: rgb(25, 37, 10);
    font-size: 12px;
    color: rgb(247, 252, 221);
}

.secondary-button {
    border: 1px solid rgb(50, 71, 23);
    background-color: rgb(172, 194, 167);
    font-size: 12px;
    color: rgb(30, 43, 13);
}

.tab-button {
    border: 1px solid rgb(247,252,221);
    background-color: rgb(25, 37, 10);
    font-size: 16px;
    color: rgb(247, 252, 221);
}

.tab-button.active {
    border-width: 1px solid rgb(50, 71, 23);
    background-color: rgb(172, 194, 167);
    font-size: 16px;
    font-weight: bold;
    color: rgb(30, 43, 13);
}

.gradient-box {
    border-radius: 24px;
    border: 2px solid rgb(207, 218, 177);
    background: linear-gradient(
        90deg,
        rgb(133, 168, 141)0%,
        rgb(176, 204, 171)50%,
        rgb(207, 218, 177)100%
    );
}

.solid-box {
  border-radius: 24px;
  border: 2px solid (207, 218, 177);
  background: rgb(133, 168, 141);
}

.headerContainer {
    display: flex;
    gap: 24px;
    margin: 12px 12px;
    margin-bottom: 24px;
    padding: 40px;
}

.photo-header {
    flex: 1;
    margin:0;
    justify-content: center ;
    align-content: center;
}

.photo-header img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-width: 1px;
    border-color: rgb(207, 218, 177);
    box-shadow: 0px 0px 8px 2px rgb(251, 255, 183);
}

.intro-header {
    flex: 5;
    margin:0;
}

.mainContainer{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 12px  12px;
}

.key-skills {
    flex: 1;
    margin-top: 0;
    padding-top: 0;
    padding: 40px
}

.skills {
    margin: 0;
    margin-bottom: 16px;
}

.barContainer {
    width: 100%;
    height: 16px;
    background-color: rgb(230, 238, 209);
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.barFilling {
    height: 16px;
    border-radius: 8px;
    margin-bottom: 8px
}

.g0 {
    background-color: rgb(37, 53, 15);
    width: 85%;
}

.g1 {
    background-color: rgb(50, 71, 23);
    width: 75%;
}

.g2 {
    background-color: rgb(74, 97, 38);
    width: 65%;
}

.g3 {
    background-color: rgb(86, 110, 47);
    width: 55%;
}

.g4 {
    background-color: rgb(99, 122, 60);
    width: 45%;
}

.g5 {
    background-color: rgb(112, 133, 78);
    width: 35%;
}

.g6 {
    background-color: rgb(139, 161, 103);
    width: 25%;
}

.exp-details {
    flex: 5;
    margin-top: 0;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}

#experience {
    padding: 40px;
}

#projects {
    padding: 40px;
}

#projects .ui-ux {
    display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

#projects img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(207, 218, 177);
    margin: 0;
    margin-bottom: 4px;
    align: center;
    justify: center;
}

.project-card p {
    display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.project-card .subtitle {
    color: rgb(86, 110, 47);
    font-style: italic;
    margin-bottom: 8px;
}

.project-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.project-link {
    display: block;
    width: calc(33.333% - 36px);
    text-decoration: none;
    color: inherit;
}

.project-card {
    border-radius: 24px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(207, 218, 177);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 12px;
}

.project-link:hover .project-card {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.footerContainer {
    text-align: center;
    justify-content: center ;
    align-content: center;
    margin: 12px 12px;
    margin-top: 24px;
    padding: 24px;
}
