body {
  background-color: #F4F7FA;
}

body, p, h1, h2, h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

.green-dark {
  color: #1C3212;
}

.green-med {
  color: #2C4A1F;
}

.blue-dark {
  color:  #152C45;
}

.blue-med {
  color: #2D4B6C
}

h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

h3 {
    font-size: 16px;
    margin-bottom: 4px;
}

p {
    font-size: 16px;
    text-align: justify;
}

li {
    font-size: 16px;
    margin-bottom: 2px;
}

button {
    border-radius: 24px; 
    margin: 8px 0;
    padding: 6px 12px;
    font-family: "Roboto Condensed", sans-serif;
    transition: background 0.3s ease;
    cursor: pointer;
}

button:hover {
  scale: 1.05;
}

button:disabled {
  cursor: not-allowed;
}

.primary-button {
    border: none;
    background-color: #1C3212;
    font-size: 12px;
    color: #FFFFFF;
}

.secondary-button {
    border: none;
    background-color: #638255;
    font-size: 12px;
    color: #FFFFFF;
}

.tab-button {
    border-radius: 24px;
    border: none;
    background-color: #B4CFA4;
    font-size: 16px;
    color: #1C3212;
}

.tab-button.active {
    border: none;
    background-color: #1C3212;
    padding: 24px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.gradient-box {
    border-radius: 24px;
    border: none;
    background: linear-gradient(
        90deg,
        #BED0E4 0%,
        #B4CFA4 100%
    );
}

.green-box {
  border-radius: 24px;
  border: none;
  background: #B4CFA4;
}

.blue-box {
  border-radius: 24px;
  border: none;
  background: #BED0E4;
}

.headerContainer {
    display: flex;
    gap: 24px;
    margin: 12px 12px;
    margin-bottom: 24px;
    padding: 40px;
}

.photo-header {
    flex: 1;
    margin:0;
    justify-content: center ;
    align-content: center;
}

.photo-header img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 0px 8px 2px #FFFFFF;
}

.intro-header {
    flex: 5;
    margin:0;
}

.mainContainer{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 12px  12px;
}

.key-skills {
    flex: 1;
    margin-top: 0;
    padding-top: 0;
    padding: 40px
}

.skills {
    margin: 0;
    margin-bottom: 16px;
}

.barContainer {
    width: 100%;
    height: 16px;
    background-color: #DFE8F1;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.barFilling {
    height: 16px;
    border-radius: 8px;
    margin-bottom: 8px
}

.g0 {
    background-color: #071828;
    width: 85%;
}

.g1 {
    background-color: #0C233B;
    width: 75%;
}

.g2 {
    background-color: #1A3552;
    width: 65%;
}

.g3 {
    background-color: #2D4B6C;
    width: 55%;
}

.g4 {
    background-color: #476585;
    width: 45%;
}

.g5 {
    background-color: #607E9F;
    width: 35%;
}

.g6 {
    background-color: #93B1D2;
    width: 25%;
}

.exp-details {
    flex: 3;
    margin-top: 0;
}

.tabs {
  margin: 0;
  margin-bottom: 12px;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}

#experience,
#projects,
#educations {
    padding: 40px;
}

#projects .ui-ux {
    display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

#projects img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    border: solid 2px #FFFFFF;
    margin: 0;
    margin-bottom: 4px;
    align: center;
    justify: center;
}

.project-card p {
    display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card .subtitle {
    font-style: italic;
    margin-bottom: 8px;
}

.project-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.project-link {
    display: block;
    width: calc(33.333% - 36px);
    text-decoration: none;
    color: inherit;
}

.project-card {
    border-radius: 24px;
    border-style: solid 2px #FFFFFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #CEE7BF;
    padding: 12px;
}

.project-link:hover .project-card {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.footerContainer {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 12px 12px;
    margin-top: 24px;
    padding: 24px;
}
